/* Globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * FONTS
 */
/*--------------------------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: 'Gopher Mono';
  src: url('/fonts/GopherMono-Regular.woff2') format('woff2'),
       url('/fonts/GopherMono-Regular.woff') format('woff'),
       url('/fonts/GopherMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gopher Mono Semi';
  src: url('/fonts/GopherMono-SemiBold.woff2') format('woff2'),
       url('/fonts/GopherMono-SemiBold.woff') format('woff'),
       url('/fonts/GopherMono-SemiBold.ttf') format('truetype');
  font-weight: 600; /* or whatever the correct weight is for 'Semi' */
  font-style: normal;
}

@font-face {
  font-family: 'Gopher Mono Bold';
  src: url('/fonts/GopherMono-Bold.woff2') format('woff2'),
       url('/fonts/GopherMono-Bold.woff') format('woff'),
       url('/fonts/GopherMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/**
 * Global Styles
 */
/*--------------------------------------------------------------------------------------------------------------------*/
section {scroll-snap-align: start;}
html {scroll-behavior: smooth;}

/**
* Colours and Styles
*/
/*--------------------------------------------------------------------------------------------------------------------*/
.background-light {background-color: #f5faf9;}
.color-blue {color: #acddfb;}
.color-dark-blue {color: #334862;}
.color-strong-blue {color: #407dbf;}
.color-dark {color: #3f423e;}
.color-green {color: #5f9251;}
.color-dark-green {color: #4a713f;}
.color-pink {color: #c15564;}
.color-light-pink {color: #e39ba6;}
.bold {font-weight: bold;}
.underline {text-decoration: underline;}
.underline-nav {
  text-decoration: underline;
  text-decoration-color: #c15564;
  text-decoration-thickness: 3px;
}

/**
* Keyframes
*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Flashing text while song is playing */
@keyframes flashAnimation {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.flashing-text {animation: flashAnimation 1s linear infinite;}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s forwards;
}


/**
* :Hover and Text decoration
*/
/*--------------------------------------------------------------------------------------------------------------------*/
#homepageNav:hover, #aboutMeNav:hover, #myBookNav:hover, #myGameNav:hover, #contactNav:hover, .footer-buttons:hover, #aboutMeNavMobile:hover, #myBookNavMobile:hover, #contactMeNavMobile:hover, #myMusingsNav:hover, #back-to-blogs:hover, #FiX:hover, #FiMenu:hover, #myMusingsNavMobile:hover {
  color: #e39ba6;
  text-decoration: underline;
  text-decoration-color: #c15564;
  text-decoration-thickness: 3px;
  cursor: pointer;
}

#homepageMobileNav {  
  text-decoration: underline;
  text-decoration-color: #c15564;
  text-decoration-thickness: 3px;
  cursor: pointer;
}

.text-decoration-color {text-decoration-color: #c15564;}

#cart:hover .cart-icon {fill: #c15564;}

.cart-underline {opacity: 0;}
#cart:hover .cart-underline {opacity: 1;}


/**
* Custom styles for the volume slider 
*/
/*--------------------------------------------------------------------------------------------------------------------*/
.footer-volume-slider {
  appearance: none;
  width: 100px;
  height: 5px;
  background: #acddfb;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.footer-volume-slider:hover {
  opacity: 1;
}

.footer-volume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: #e39ba6;
  cursor: pointer;
  border-radius: 50%;
}

.footer-volume-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #000;
  cursor: pointer;
  border-radius: 50%;
}

/**
* Markdown Styling
*/
/*--------------------------------------------------------------------------------------------------------------------*/
.markdown-content h1 {
  color: #c15564;;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: 'Gopher Mono Semi';
}

.markdown-content h2 {  
  color: #4a713f;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-family: 'Gopher Mono Semi';
}

.markdown-content h3 {  
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-family: 'Gopher Mono Semi';  
}

.markdown-content p {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: 'Gopher Mono';
}

.markdown-content strong {
  font-weight: bold;
  color: #c15564;
}

.markdown-content ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.markdown-content ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.markdown-content li {
  margin-bottom: 0.5rem;
  font-family: 'Gopher Mono';
}

.markdown-content blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1rem;
  color: #555;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.markdown-content img {
  max-width: 100%; /* Ensures images don’t exceed the container width */
  height: auto;
  border-radius: 8px;
  display: block;
  margin: auto;
}

.markdown-content .references {
  font-size: 0.65rem; /* Adjust size as needed */
  opacity: 0.5;  
  line-height: 1.4; /* Optional: Adjust line height for readability */
}

/**
* Responsive Video Styling
*/
/*--------------------------------------------------------------------------------------------------------------------*/
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}